In [1]:
import pandas as pd

dataset_path = 'USA Housing Dataset.csv'  
data = pd.read_csv(dataset_path)

print("Dataset Shape:" , data.shape)

print(data.head())

print(data.info())

Dataset Shape: (4140, 18)
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-09 00:00:00   376000.0       3.0       2.00         1340      1384
1  2014-05-09 00:00:00   800000.0       4.0       3.25         3540    159430
2  2014-05-09 00:00:00  2238888.0       5.0       6.50         7270    130017
3  2014-05-09 00:00:00   324000.0       3.0       2.25          998       904
4  2014-05-10 00:00:00   549900.0       5.0       2.75         3060      7015

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     3.0           0     0          3        1340              0      2008
1     2.0           0     0          3        3540              0      2007
2     2.0           0     0          3        6420            850      2010
3     2.0           0     0          3         798            200      2007
4     1.0           0     0          5        1600           1460      1979

   yr_renovated                   street       city  statezip country
0             0  9245-9249 Fremont Ave N    Seattle  WA 98103     USA
1             0         33001 NE 24th St  Carnation  WA 98014     USA
2             0         7070 270th Pl SE   Issaquah  WA 98029     USA
3             0           820 NW 95th St    Seattle  WA 98117     USA
4             0        10834 31st Ave SW    Seattle  WA 98146     USA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4140 non-null   object
 1   price          4140 non-null   float64
 2   bedrooms       4140 non-null   float64
 3   bathrooms      4140 non-null   float64
 4   sqft_living    4140 non-null   int64
 5   sqft_lot       4140 non-null   int64
 6   floors         4140 non-null   float64
 7   waterfront     4140 non-null   int64
 8   view           4140 non-null   int64
 9   condition      4140 non-null   int64
 10  sqft_above     4140 non-null   int64
 11  sqft_basement  4140 non-null   int64
 12  yr_built       4140 non-null   int64
 13  yr_renovated   4140 non-null   int64
 14  street         4140 non-null   object
 15  city           4140 non-null   object
 16  statezip       4140 non-null   object
 17  country        4140 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 582.3+ KB
None